name: Tests

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main"]

permissions:
  contents: read

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/workflows/build-projects

  default:
    name: Test default config
    needs: [build]
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./project_default/project
    steps:
    - name: Basic tests
      uses: ./.github/workflows/basic-tests

  black:
    name: Test config with black
    needs: [build]
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./project_black/project
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/workflows/setup-test-job

      - name: Basic tests
        uses: ./.github/workflows/basic-tests

      - name: Black
        run: |
          pip install black
          black .

  poetry:
    name: Test config with poetry and black
    needs: [build]
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./project_poetry/project
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/workflows/setup-test-job
      - name: Install poetry
        run: pip install poetry

      - name: Basic tests
        uses: ./.github/workflows/basic-tests

      - name: Black
        run: |
          poetry install --only lint
          poetry run black .
