name: Tests

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main"]

permissions:
  contents: read

jobs:
  build:
    name: Example test
    steps:
    - uses: actions/checkout@v4
    - name: Setup Pyhon
      uses: actions/setup-python@v5
      with:
        python-version: "3.10"
    - name: Install dependencies
      run: pip install cookiecutter
    - name: Build project
      run: cookiecutter . -o project_black --no-input use_black=true  # TODO build multiple projects at once?
    - name: Example test
      run: |
        cd project_black/project
        .ci/test.sh
