name: Tests

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main"]

permissions:
  contents: read

jobs:
  default:
    name: Test default config
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./project_default/project
    steps:
    - uses: actions/checkout@v4
    - uses: ./.github/workflows/tests-build-action

    - name: debug
      run: |
        ls -la .ci
        ls -la .hooks
        chmod +x .hooks/*
        ls -la .hooks

    - name: Test
      run: sh .ci/test.sh

    - name: Stripped notebooks check
      run: sh .ci/stripped_notebooks_check.sh

    - name: isort
      run: sh .ci/isort.sh

    - name: Flake8
      run: sh .ci/flake8.sh

  black:
    name: Test config with black
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./project_black/project
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/workflows/tests-build-action

      - name: Test
        run: sh .ci/test.sh

      - name: Stripped notebooks check
        run: sh .ci/stripped_notebooks_check.sh

      - name: isort
        run: sh .ci/isort.sh

      - name: Flake8
        run: sh .ci/flake8.sh

      - name: Black
        run: |
          pip install black
          black .

  poetry:
    name: Test config with poetry and black
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./project_poetry/project
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/workflows/tests-build-action
      - name: Install poetry
        run: pip install poetry

      - name: Test
        run: sh .ci/test.sh

      - name: Stripped notebooks check
        run: sh .ci/stripped_notebooks_check.sh

      - name: isort
        run: sh .ci/isort.sh

      - name: Flake8
        run: sh .ci/flake8.sh

      - name: Black
        run: |
          poetry install --only lint
          poetry run black .
